language: go

go:
  - 1.8
  - tip

# Derived from https://github.com/lib/pq/blob/master/.travis.yml
before_install:
  - ./travis/before_install.bash

env:
  global:
    - PGX_TEST_DATABASE=postgres://pgx_md5:secret@127.0.0.1/pgx_test
  matrix:
    - PGVERSION=9.6
    - PGVERSION=9.5
    - PGVERSION=9.4
    - PGVERSION=9.3
    - PGVERSION=9.2

# The tricky test user, below, has to actually exist so that it can be used in a test
# of aclitem formatting. It turns out aclitems cannot contain non-existing users/roles.
before_script:
  - ./travis/before_script.bash

install:
  - ./travis/install.bash

script:
  - go test -v -race ./...

matrix:
  allow_failures:
    - go: tip
